<div id="title-inner">
<!--    <div class="back-home f-x-small"><a href="/">&lt;&#160;&#160;&#160;Home</a></div>-->
    <div id="title-content" class="open-sans-bold f-x-large">
        <p id="title">Learning Center</p>

<!--
        <div id="search-bar">
            <div id="search-bar-inner">
                <div id="search-bar-icon">
                    <img id="search-image" src="/images/searchicon.svg">
                </div>
                <input type="text" id="search-bar-entry" class="f-medium" oninput="search('learn', value)" />
            </div>
        </div>
-->
    </div>
</div>
