<ul id="table-of-contents" class="f-x-small">
    <li id="welcome-item" class="item"><a href="/learn">Welcome</a></li>
    <li id="getting-started-item" class="item"><a href="/learn/getting-started">Getting Started</a></li>
    <!-- <li id="attorneys-item"><a href="/learn/attorneys">Attorneys</a></li> -->
    <li>
        <span class="dropdown">
            <a href="/learn/cash-bonds">Cash Bonds</a>
        </span>
        <ul id="cash-bonds-dropdown">
            <li class="item"><a href="/learn/cash-bonds#1">Taking a Cash Bond</a></li>
            <li class="item"><a href="/learn/cash-bonds#2">Applying a Cash Bond to a Case</a></li>
            <li class="item"><a href="/learn/cash-bonds#3">Returning a Cash Bond</a></li>
            <li class="item"><a href="/learn/cash-bonds#4">Forfeiting a Cash Bond</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/charges">Charges</a>
        </span>
        <ul id="charges-dropdown">
            <li class="item"><a href="/learn/charges#1">Adding a New Charge</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/ecitations">eCitations</a>
        </span>
        <ul id="ecitations-dropdown">
            <li class="item"><a href="/learn/ecitations#1">Downloading eCitations</a></li>
            <li class="item"><a href="/learn/ecitations#2">Correcting eCitation Errors</a></li>
            <li class="item"><a href="/learn/ecitations#3">eCitation Transmittal Form</a></li>
            <li class="item"><a href="/learn/ecitations#4">Creating Cases From eCitations</a></li>
            <li class="item"><a href="/learn/ecitations#5">Printing eCitation Tickets</a></li>
            <li class="item"><a href="/learn/ecitations#6">Other eCitation Topics</a></li>
            <li class="item"><a href="/learn/ecitations#7">Creating an Account with CAPS</a></li>
            <li class="item"><a href="/learn/ecitations#8">Non-Traffic eCitations</a></li>
            <li class="item"><a href="/learn/ecitations#9">Voiding an eCitation Ticket</a></li>
            <li class="item"><a href="/learn/ecitations#10">Missing eCitation Tickets</a></li>
        </ul>
    </li>
    
    <li>
        <span class="dropdown">
            <a href="/learn/employees">Employees</a>
        </span>
        <ul id="employees-dropdown">
            <li class="item"><a href="/learn/employees#1">Adding a New Employee</a></li>
            <li class="item"><a href="/learn/employees#2">Making an Employee Inactive</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/expungements">Expungements</a>
        </span>
        <ul id="expungements-dropdown">
            <li class="item"><a href="/learn/expungements#1">Expunging a Record</a></li>
            <li class="item"><a href="/learn/expungements#2">Expungement Fee</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/interlock">Interlock</a>
        </span>
        <ul id="interlock-dropdown">
            <li class="item"><a href="/learn/interlock#1">Interlock Costs</a></li>
            <li class="item"><a href="/learn/interlock#2">Interlock Monthly Payments</a></li>
            <li class="item"><a href="/learn/interlock#3">Interlock Costs</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/officers">Officers</a>
        </span>
        <ul id="officers-dropdown">
            <li class="item"><a href="/learn/officers#1">Adding a New Officer</a></li>
            <li class="item"><a href="/learn/officers#2">Changing an Officer's Badge Number</a></li>
            <li class="item"><a href="/learn/officers#3">Making an Officer Inactive</a></li>
            <li class="item"><a href="/learn/officers#4">Adding an Officer to a Case</a></li>
            <li class="item"><a href="/learn/officers#5">Adding an Officer's Signature</a></li>
            <li class="item"><a href="/learn/officers#6">Officer Signing an eCitation</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/profiles">Profiles</a>
        </span>
        <ul id="profiles-dropdown">
            <li class="item"><a href="/learn/profiles#1">Nagivating to the Profile Table</a></li>
            <li class="item"><a href="/learn/profiles#2">Adding a New Profile</a></li>
            <li class="item"><a href="/learn/profiles#3">Saving Profile History</a></li>
            <li class="item"><a href="/learn/profiles#4">Merging Duplicate Profiles</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/signature-pad">Signature Pad</a>
        </span>
        <ul id="signature-pad-dropdown">
            <li class="item"><a href="/learn/signature-pad#1">Signature Pad Model</a></li>
            <li class="item"><a href="/learn/signature-pad#2">Installing the Signature Pad</a></li>
            <li class="item"><a href="/learn/signature-pad#3">Adding an Employee Signature</a></li>
            <li class="item"><a href="/learn/signature-pad#4">Signing a Document</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/sureties" >Sureties</a>
        </span>
        <ul id="sureties-dropdown">
            <li class="item"><a href="/learn/sureties#1">Adding a Surety Company</a></li>
        </ul>
    </li>
    <li>
        <span class="dropdown">
            <a href="/learn/surety-bonds" >Surety Bonds</a>
        </span>
        <ul id="surety-bonds-dropdown">
            <li class="item"><a href="/learn/surety-bonds#1">Receiving a Surety Bond</a></li>
            <li class="item"><a href="/learn/surety-bonds#2">Surety Bond Forms</a></li>
            <li class="item"><a href="/learn/surety-bonds#3">Conditional Forfeiture</a></li>
            <li class="item"><a href="/learn/surety-bonds#4">Bondsman's Process</a></li>
            <li class="item"><a href="/learn/surety-bonds#5">Final Forfeiture</a></li>
            <li class="item"><a href="/learn/surety-bonds#6">Converting to a Cash Bond</a></li>
        </ul>
    </li>
</ul>