<ul id="table-of-contents" class="f-x-small">
    <li class="item"><a href="/learn">Welcome</a></li>
    <li class="item"><a href="/learn/getting-started">Getting Started</a></li>
    <li>
        <span class="dropdown">
            <span class="chevron fas fa-chevron-right f-chevron"></span>
            Tutorials
        </span>
        <ul>
            <li class="item"><a href="/learn/adding-new-charge">Adding a New Charge</a></li>
            <li class="item"><a href="/learn/changing-officers-badge-number.html">Changing and Officer's Badge Number</a></li>
            <li class="item"><a href="/learn/ecitations">eCitations</a></li>
            <li class="item"><a href="/learn/ecitation-errors">eCitation Errors</a></li>
            <li class="item"><a href="/learn/merging-duplicate-profiles">Merging Duplicate Profiles</a></li>
<!--
            <li>
                <span class="dropdown">
                    <span class="chevron fas fa-chevron-right f-chevron"></span>
                    A nested dropdown
                </span>
                <ul>
                    <li class="item">Double nesting!</li>
                </ul>
            </li>
-->
        </ul>
    </li>
</ul>
