html {
    
}

* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    font-weight: 300;
}

body {
    position: static;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    min-height: auto;
    min-width: 100%;
    position: relative;
}

h6 { font-size: 1.25rem; }
h5 { font-size: 1.56rem; }
h4 { font-size: 1.95rem; }
h3 { font-size: 2.44rem; }
h2 { font-size: 3.05rem; }
h1 { font-size: 3.81rem; }

b { font-weight: 600; }

.primary {
    color: white;
    background-color: #FF481F;
    border-radius: 5px;
}

/********** HEADER **********/

header {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1;
    height: 100px;;
    width: 100%;
}

#header-top-container {
    height: 100%;
    width: 100%;
    background: transparent;
}

#header-top-inner {
    display: flex;
    height: 100%;
    color: #0095C6;
}

#msg-logo {
    display: flex;
    flex: 1;
    align-items: center;
}

#msg-logo-content {
    font-family: 'Roboto Slab', serif;
    padding-left: 10%;
}

#header-menu {
    flex: 1;
}

#header-menu-inner {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 10%;
    margin-left: auto;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
}

#header-menu-content {
    display: flex;
    flex: 1;
}

.header-menu-item {
    flex: 1;
    text-align: center;
    list-style-type: none;
}

/********** MAIN **********/

main {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 2;
    height: auto;
}

#main-container {
    display: grid;
    background: transparent;
}

#splash-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-column: 1 / 4;
    background-image: linear-gradient(#0095C6BB 20%, #C7FF93BB 200%), url("images/streetmap.jpg");
    height: 80vh;
}

#splash-inner {
    display: flex;
    grid-column: 2 / 3;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/*
#splash-border {
    position: inherit;
    margin: 0 7rem 0 7rem;
    height: 60%;
    width: 75%;
    border: 0px solid #C7FFC9
}
*/

#splash-content {
    position: absolute;
/*
    border: 1px solid #C7FFC9;
    border-width: 2px 0 2px 0;
*/
    flex: 1;
/*
    border: 2px solid #C7FFC9;
    padding: 2em;
*/
}

#splash-body {
    font-family: 'Roboto Slab', 'serif';
    font-size: 3em;
    font-weight: 300;
    color: white;
}

#splash-period {
    color: #FF5100;
}

#product-container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-column: 1 / 4;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(white 30%, #EEEEEE);
}

#product-inner {
    display: flex;
    grid-column: 2 / 3;
    align-items: center;
    text-align: center;
    margin: 5rem 0 5rem 0;
}

#product-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.feature-box {
    position: relative;
    display: grid;
    grid-template-rows: 3rem 100%;
    height: auto;
    width: 250px;
    margin: 2rem;
/*    border: 1px solid blue;*/
}

.feature-box-header {
    display: flex;
    text-align: left;
    align-items: center;
    grid-row; 1;
    color: white;
    background-color: #FF7F54;
    height: 100%;
}

.feature-box-header-content {
    flex: 1;
    padding-left: 1rem;
}

.feature-box-body {
    grid-row: 2;
    height: 300px;
/*
    border-width: 0 1px 1px 1px;
    border-color: blue;
    border-style: solid;
*/
    background-color: white;
}

#about-us-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-column: 1 / 4;
    height: auto;
    min-height: 100vh;
}

#about-us-inner {
    display: flex;
    grid-column: 2 / 3;
    align-items: center;
    text-align: center;
}

#about-us-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
/*    height: 10rem;*/
}

#about-us-header {
    flex: 1;
    font-family: 'Roboto Slab', 'serif';
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: dimgray;
}

#about-us-body {
    flex: 1;
    font-size: 1rem;
    font-weight: 100;
    max-width: 35em;
    line-height: 1.55em;
    text-align: left;
    color: dimgray;
    padding-top: 1rem;
}

#contact-container {
    grid-column: 1 / 4;
    display: grid;
    height: auto;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    background: linear-gradient(#EEEEEE, white 30%);
}

#contact-inner {
    grid-column: 2 / 3;
    display: flex;
    margin: 3em 0 3rem 0;
}

#contact-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

#contact-header {
    font-weight: 200;
    font-size: 2rem;
    color: dimgray;
}

#contact-details {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    padding-top: 0.5rem;
    min-width: 290px;
    max-width: 600px;
}

#contact-label {
    width: 50%;
    padding-top: 1rem;
    min-width: 290px;
    max-width: 600px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 290px;
    max-width: 600px;
}

#contact-form * {
    padding: 0.5em;
    margin-top: 1em;
    font-size: 0.75rem;
}

#contact-message {
    height: 10rem;
    resize: none;
}

#contact-submit {
    background-color: #FF7F54;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-top: 1.5rem;
    font-size: 1rem;
}

.documentation-main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.documentation-container {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: 1fr 2fr 1fr;
}

.documentation-inner {
    display: flex;
    grid-column: 2 / 3;
}

.docnav-container {
    min-height: 100%;
    min-width: 25%;
    grid-column: 1 / 2;
    position: fixed;
    padding-top: 3rem;
    align-items: center;
}

.docnav-inner {
}

.docnav-content {
    display: table;
    margin: 0 auto;
    list-style: none;
}

.documentation-content {
    flex-direction: column;
    flex: 1;
    color: dimgray;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.documentation-content i {
    color: #0095C6;
}

.documentation-content img {
    max-width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



/********** FOOTER **********/

footer {
    position: relative;
    height: 200px;
    grid-column: 1 / 4;
    grid-row: 3;
    background-color: white;
}

#footer-top-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
}

#footer-top-inner {
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;;
}

#footer-content {
    flex: 1;
    padding-top: 40px;
    font-size: 0.75em;
    color: dimgray;
}
