html {
    scroll-behavior: smooth;
}

.primary {
    color: white;
    background-color: #FAC173;
}

.pitch-bold {
    font-family: 'Pitch Bold';
}

.pitch-medium-italic {
    font-family: 'Pitch Medium Italic';
}


/* Since I can't get the adobe fonts (acumin) local right now,
Open Sans is a temporary replacement*/
.acumin-pro {
    font-family: "Open Sans Regular";
    /*font-family: acumin-pro,sans-serif;
    font-weight: 100;*/
    font-style: normal;
}

.acumin-pro-bold {
    font-family: "Open Sans Bold";
    /*font-family: acumin-pro,sans-serif;
    font-weight: 700;*/
    font-style: normal;   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Pitch Bold';
}

body, input, textarea {
    color: #707070;
    min-height: auto;
    position: relative;
}

/* Added this so that when the scroll bar
disappears when the menu is open, the width
of the layout does not shift. However, it
does mean the layout looks slightly offcenter
because it is under the scrollbar on the right
side of the screen. Not sure how this looks
on mobile yet. */ 
#wrapper {
    overflow-x: hidden;
}

body {
    width: 100%;
    min-width: 100%;
}

.profile-header {
    color: #FAC173;
}