/********** LAUNCHPAD **********/

#launchpad-title-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    min-height: calc(40vh - 100px);
    background-color: #003375;
    z-index: 1;
}

#launchpad-title-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2 / 3;
    color: white;
    margin-bottom: 1.5rem;
}

#launchpad-content-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    min-height: 55vh;
    z-index: 1;
}

#launchpad-content-inner {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    margin: 2.5rem 0;
}

#table-of-contents-container {}

#table-of-contents-header {
    color: #003375;
}

#table-of-contents {
    list-style: none;
    min-width: 100%;
    color: #003375;
    margin: 0.5rem 0;
}

#table-of-contents li {
    line-height: 1.5rem;
}

#table-of-contents li:hover {
    color: #006DFF;
    cursor: pointer;
}

#instructions {
    max-width: 70%;
}

#start-button-container {
    width: 100%;
}

#start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    max-width: 100%;
    height: 3.5rem;
    background-color: #006DFF;
    color: white;
    border-bottom: 8px solid #003375;
    border-right: 8px solid #003375;
    margin: 2rem 0;
    border-radius: 15px
}

#start-button:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
}

/********** DEMO SLIDES **********/
#demo-container {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 20;
}

#demo-container-inner {
    /*    display: grid;*/
    display: flex;
    flex-direction: column;
    position: fixed;
    /*    grid-template-columns: 1fr 10fr 1fr;*/
    width: 100%;
    max-width: 80rem;
    max-height: 100vh;
    z-index: 11;
}

#toc-navigation {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column: 1 / 4;
    max-width: 80rem;
    width: 100%;
    height: 7vh;
}

#toc-controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: inherit;
    color: #666;
}

#toc-controls span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: black;
}

#toc-controls span:hover {
    cursor: pointer;
    background-color: #222;
}

#toc-controls span p {}

.top-corner {
    position: static;
    background-color: black;
}

.top-corner:first-child {
    border-top-left-radius: 2rem;
}

.top-corner:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2rem;
}

#top-bar {
    z-index: 20;
    cursor: pointer;
}

.close-demo-x {
    width: 2rem;
    height: 4px;
    background-color: white;
}

.close-demo-x:first-child {
    transform: translate(0rem, 0.2rem)rotate(45deg);
}

.close-demo-x:last-child {
    transform: rotate(135deg);
}

#display {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column: 1 / 4;
    height: 88vh;
}

#prev {
    grid-column: 1 / 2;
}

#slide-number {
    color: white;
    grid-column: 1 / 2;
    align-self: center;
    justify-self: center;
    bottom: 0;
    user-select: none;
}

#next {
    grid-column: 3 / 4;
}

.nav-arrow {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#next-arrow,
#prev-arrow {
    width: 2rem;
    height: 2rem;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

#prev-arrow {
    transform: translate(5px) rotate(135deg);
}

#next-arrow {
    transform: translate(-5px) rotate(-45deg);
}

#bottom-bar {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    grid-column: 1 / 4;
    height: 5vh;
    background-color: black;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

#slide-area {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 / 3;
    background-color: #4B4B4B;
    height: inherit;
    user-select: none;
}

#slide-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    max-height: calc(100% - 5rem);
}

#slide {
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}

#slide-commentary {
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    height: auto;
    min-height: 5rem;
    max-height: 8rem;
    background-color: #4B4B4B;
    flex-grow: 5;
    border-top: 1px solid white;
    color: white;
}

#commentary-content {
    margin: 0.25rem 0.5rem;
}

#finish-button {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    color: white;
    background-color: black;
    width: 10rem;
    height: 5rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 6;
}

