/********** LAUNCHPAD **********/

#launchpad-title-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    min-height: calc(40vh - 100px);
    background-color: #003375;
    z-index: 1;
}

#launchpad-title-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-column: 2 / 3;
    color: white;
    margin-bottom: 1.5rem;
}

#launchpad-content-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    min-height: 55vh;
    z-index: 1;
}

#launchpad-content-inner {
    display: flex;
    justify-content: space-between;
    grid-column: 2 / 3;
    margin: 2.5rem 0;
}

#table-of-contents-container {
}

#table-of-contents-header {
    color: #003375;
}

#table-of-contents {
    list-style: none;
    min-width: 100%;
    color: #003375;
    margin: 0.5rem 0;
}

#table-of-contents li {
    line-height: 1.5rem;
}

#table-of-contents li:hover {
    color: #006DFF;
    cursor: pointer;
}

#instructions {
    max-width: 70%;
}

#start-button-container {
    width: 100%;
}

#start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    max-width: 100%;
    height: 3.5rem;
    background-color: #006DFF;
    color: white;
    border-bottom: 8px solid #003375;
    border-right: 8px solid #003375;
    margin: 2rem 0;
    border-radius: 15px
}

#start-button:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
}

/********** DEMO SLIDES **********/
#demo-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 20;
}

#demo-container-inner {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    max-width: 80rem;
    height: 95%;
    z-index: 11;
}

#toc-navigation {
    grid-column: 1 / 4;
    max-width: 80rem;
    width: 100%;
    height: 4rem;
}

#toc-controls {
    display: flex;
    justify-content: space-around;
    grid-column: 2 / 3;
    width: 100%;
    height: inherit;
    color: #666;
}   

#toc-controls span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: black;
}

#toc-controls span:hover {
    cursor: pointer;
    background-color: #222;
}

#toc-controls span:first-child {
    border-top-left-radius: 2rem;
}

#toc-controls span:last-child {
    border-top-right-radius: 2rem;
}

#toc-controls span p {
}

#top-bar {
    width: 100%;
    position: absolute;
    height: 4rem;
    z-index: 20;
    grid-column: 3 / 4;
    cursor: pointer;
}

.close-demo-x {
    position: absolute;
    width: 2rem;
    height: 4px;
    left: calc(50% - 1rem);
    top: 2rem;
    background-color: white;
}

.close-demo-x:first-child {
    transform: rotate(45deg);
}

.close-demo-x:last-child {
    transform: rotate(135deg);
}

#display {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-column: 1 / 4;
    height: 90vh;
}

#prev {
    grid-column: 1 / 2;
}
#slide-number {
    color: white;
    position: absolute;
    bottom: 0;
}

#next {
    grid-column: 3 / 4;
}

.nav-arrow {
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#next-arrow, #prev-arrow {
    width: 2rem;
    height: 2rem;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

#prev-arrow {
    transform: translate(5px) rotate(135deg);
}

#next-arrow {
    transform: translate(-5px) rotate(-45deg);
}

#slide-area{
    max-height: calc(100vh);
    max-height: -o-calc(100vh); /* opera */
    max-height: -webkit-calc(100vh); /* google, safari */
    max-height: -moz-calc(100vh); /* firefox */
    max-width: 100%;
}

#slide-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    grid-column: 2 / 3;
}


#slide {
    height: auto;
    max-width: 100%;
    max-height: calc(100% - 4rem);
}