#title-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    min-height: calc(40vh - 100px);
    background-color: white;
    align-items: center;
}

#title-inner {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-content: center;
}

#title-content {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #003375;
    grid-column: 2 / 3;
    margin-bottom: 1.5rem;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border: 1px solid #003375;
    border-radius: 1.5rem;
    background-color: white;
}

#search-bar-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2.2rem;
    margin: 0 0.5rem;
}

#search-bar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

#search-image {
    width: 1rem;
}

#search-bar-entry {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0 1rem;
    margin-right: 1rem;
    color: #444;
    border: none;
    outline: none;
}

#questions-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    height: auto;
    min-height: calc(82vh - 100px);
    background-color: #003375;
}

#questions-inner {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    min-height: 20rem;
    margin: 0rem 0 2rem 0;
}

#questions-card-title, #other-resources-title {
    grid-column: 2 / 3 ;
    color: white;
}

#questions-card, #search-results {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    background-color: white;
    margin-top: 1rem;
    color: #003375;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 1.5rem;
}

#search-results {
    display: none;
}

.question-toggle {
    position: absolute;
    opacity: 0;
}


.answer {
    transition-property: max-height;
    transition-duration: 0.5s;
    transition-delay: 0;
    overflow-y: scroll;
    border-bottom: 1px solid #CCC;
    background-color: #EEE;
}

.answer:last-child {
    border-bottom: none;
}

.answer-text {
    color: #003375;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem 1rem;
    list-style: inside none;
}

.answer-text a {
    text-decoration: underline;
    color: #006DFF;
}

.answer-text * {
    margin: 0.5rem 0;
}

.answer ol > li::marker {
    font-weight: bold;
}

.question-toggle ~ .answer {
    max-height: 0;
}

.question-toggle:checked ~ .answer {
    max-height: 100rem;
}

.question {
    cursor: pointer;
}

.question-text {
    margin-bottom: 0.35rem;   
    user-select:none; 
}

.question:hover {
    color: #006DFF;   
}

.question:first-child {
}

.question:not(.question:first-child) {
/*    border-top: 1px solid #CCC;*/
/*    padding: 0.75rem 0;*/
    padding-top: 0.25rem;
}

#other-resources-title {
    margin-top: 1rem;   
}

#other-resources-links {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1rem;
}

#other-resources-links a {
    padding: 0.25rem 0;   
}

#other-resources a:hover {
    text-decoration: underline;   
}
