@media (min-width: 1200px) {
    #title-container {
        height: 12rem; 
    }
    
    #search-bar{
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 1350px) {
    #title-container, #questions-container {
        grid-template-columns: auto 1203px auto;
    }
    
    #title-container {
        height: 13rem;
    }
    
    #search-bar {
        margin: 1rem 0 2rem 0;   
    }
}