@media (min-width: 992px) {    
    #questions-inner {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 1rem;   
    }
    
    #common-questions {
        flex-basis: 60%; 
    }
    
    #other-resources {
        flex-basis: 30%;   
    }
    
    #other-resources-title {
        margin-top: 0;   
    }
}