@font-face {
    font-family: "Pitch Bold";
    src: url("../fonts/pitch-web-bold.woff"), url("../fonts/pitch-web-bold.woff2");
}

@font-face {
    font-family: "Pitch Medium Italic";
    src: url("../fonts/pitch-web-medium-italic.woff"), url("../fonts/pitch-web-medium-italic.woff2");
}


/*These two are temporary until we can get the adobe fonts downloaded*/
@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Lora Regular";
    src: url("../fonts/Lora-Regular.ttf");
}

@font-face {
    font-family: "Lora Medium";
    src: url("../fonts/Lora-Medium.ttf");
}

@font-face {
    font-family: "Lora Bold";
    src: url("../fonts/Lora-Bold.ttf");
}

@font-face {
    font-family: "Lora Italic";
    src: url("../fonts/Lora-Italic.ttf");
}

/******** SIZES ********/

* {
    line-height: 1.6em;
}

.f-x-large {
    font-size: 1.25rem;
}

.f-large {
    font-size: 1.2rem;
}

.f-medium {
    font-size: 0.8rem;
}

.f-small {
    font-size: 0.72rem;
}

.f-x-small {
    font-size: 0.6rem;
}

.f-logo {
    font-size: 0.96rem;
}

.f-menu {
    font-size: 1rem;
}

.f-splash-body {
    font-size: 3rem;
}

.f-splash-buttons {
    font-size: 0.8rem;
}

.f-pitch-body {
    font-size: 1rem;
}

.f-feature-title {
    font-size: 1.2em;
}

.f-thanks-text {
    font-size: 0.55rem;
}

.f-chevron {
    font-size: 0.56rem;
    margin-top: 0.03rem;
    margin-right: 0.15rem;
}

@media (min-width: 375px) {
    .f-thanks-text {
        font-size: 0.65rem;
    }
}

@media (min-width: 414px) {
    .f-thanks-text {
        font-size: 0.72rem;
    }
}

@media (min-width: 480px) {
    
    * {
        line-height: 1.45em;
    }
    
    .f-x-large {
        font-size: 2.2rem;
    }
    
    .f-large {
        font-size: 1.6rem;
    }
    
    .f-medium {
        font-size: 1rem;
    }
    
    .f-small {
        font-size: 0.72rem;
    }
    
    .f-x-small {
        font-size: 0.6rem;
    }
    
    .f-logo {
        font-size: 0.96rem;
    }
    
    .f-menu {
        font-size: 1rem;
    }
    
    .f-splash-body {
        font-size: 4rem;
    }
    
    .f-pitch-body {
        font-size: 2.2rem;
    }
    
    .f-thanks-text {
        font-size: 0.83rem;
    }
    
    .f-chevron {
        font-size: 0.56rem;
        margin-top: 0.03rem;
        margin-right: 0.15rem;
    }
    
    @media (max-width: 850px) {
        .f-x-large {
            font-size: 1.5rem;
        }
        
        .f-large {
            font-size: 1.4rem;
        }
        
        .f-medium {
            line-height: 1.6em;
        }
        
        .f-pitch-body {
            font-size: 1.5rem;
        }
    }
    
    @media (max-width: 600px) {
        .f-x-large {
            font-size: 1.3rem;
        }
        
        .f-large {
            font-size: 1.3rem;
        }
        
    
        .f-pitch-body {
            font-size: 1.3rem;
        }
    }
}

@media (min-width: 992px) {
    .f-x-large {
        font-size: 2rem;
    }
    
    .f-large {
        font-size: 1.452rem;
    }
    
    .f-medium {
        font-size: 0.908rem;
    }
    
    .f-small {
        font-size: 0.66rem;
    }
    
    .f-x-small {
        font-size: 0.55rem;
    }
    
    .f-logo {
        font-size: 0.88rem;
    }
    
    .f-menu {
        font-size: 0.66rem;
    }
    
    .f-splash-body {
        font-size: 4rem;
    }
    
    .f-splash-buttons {
        font-size: 1rem;
    }
    
    .f-pitch-body {
        font-size: 2rem;
    }
    
    .f-thanks-text {
        font-size: 0.68rem;
    }
    
    .f-chevron {
        font-size: 0.51rem;
        margin-top: 0.025rem;
        margin-right: 0.12rem;
    }
}

@media (min-width: 1200px) {
    .f-x-large {
        font-size: 2.2rem;
    }
    
    .f-large {
        font-size: 1.6rem;
    }
    
    .f-medium {
        font-size: 1rem;
    }
    
    .f-small {
        font-size: 0.72rem;
    }
    
    .f-x-small {
        font-size: 0.6rem;
    }
    
    .f-logo {
        font-size: 0.96rem;
    }
    
    .f-menu {
        font-size: 0.72rem;
    }
    
    .f-splash-body {
        font-size: 5rem;
    }
    
    .f-pitch-body {
        font-size: 2.2rem;
    }
    
    .f-thanks-text {
        font-size: 0.75rem;
    }
    
    .f-chevron {
        font-size: 0.56rem;
        margin-top: 0.03rem;
        margin-right: 0.15rem;
    }
}

@media (min-width: 1350px) {
    .f-x-large {
        font-size: 2.75rem;
    }
    
    .f-large {
        font-size: 2rem;
    }
    
    .f-medium {
        font-size: 1.25rem;
    }
    
    .f-small {
        font-size: 0.9rem;
    }
    
    .f-x-small {
        font-size: 0.75rem;
    }
    
    .f-logo {
        font-size: 1.4rem;
    }
    
    .f-menu {
        font-size: 0.8rem;
    }
    
    .f-splash-body {
        font-size: 5rem;
    }
    
    .f-pitch-body {
        font-size: 2.75rem;
    }
    
    .f-thanks-text {
        font-size: 0.95rem;
    }
    
    .f-chevron {
        font-size: 0.7rem;
        margin-top: 0.05rem;
        margin-right: 0.2rem;
    }
}