#title-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    min-height: calc(40vh - 100px);
    background-color: #FAC173;
    align-items: center;
}

#title-inner {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}

#title-content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    color: #003375;
    margin-bottom: 1.5rem;
}

#search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
/*    border: 1px solid #003375;*/
    border-radius: 1.5rem;
    background-color: white;
}

#search-bar-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2.2rem;
    margin: 0 0.5rem;
}

#search-bar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-image {
    width: 1rem;
}

#search-bar-entry {
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0 1rem;
    margin-right: 1rem;
    color: #444;
    border: none;
    outline: none;
}

#content-container {
    display: grid;
    grid-template-columns: 2fr 10fr 1fr;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    min-height: calc(82vh - 100px);
}

#content-inner {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    color: #003375;
    min-height: 20rem;
    margin: 0rem 0 2rem 0;
}

#main-content {
    display: flex;
    justify-content: space-between;
}

#table-of-contents-container {
    grid-column: 1 / 2;
    width: inherit;
    min-width: 18rem;
}

#table-of-contents-header {
    line-height: 1em;
    color: #003375;
}

#table-of-contents {
    list-style: none;
    color: #003375;
    margin: 0.5rem 2rem 0 2.55rem;
}

#table-of-contents * {
    cursor: pointer;
    user-select: none;
}

.item > a {
    display: block;
    line-height: 1.2em;
    margin: 0.4rem 0;
}

.item:hover, .dropdown:hover {
    text-decoration: underline;
}

.dropdown {  
    position: relative;
}

.dropdown > p {
    margin: 0rem 0 0.4rem 0;
}

.dropdown ~ ul {
    display: none;
}

.chevron {
    position: absolute;
    right: calc(100% + 0.1rem);
    top: 100%;
    
}

ul {
    margin-left: 1rem;
    list-style: none;
}

#reading-content {
    display: flex;
    line-height: 1em;
    flex-direction: column;
    width: 100%;
/*    margin: 0 3rem;*/
    word-wrap: normal;
}

#reading-content p, ol li {
    margin-bottom: 1.5rem;
}

#reading-content a {
    text-decoration: underline;
    color: #006DFF;
}

section {
    padding-bottom: 2rem;
}

.captioned-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    width: 100%;
    margin-top: 1rem;
}

.captioned-image img {
    max-width: 95%;
}

.caption {
    font-style: italic;
    color: #888;
    margin-top: 0.5rem;
}

#reading-content-header {
    margin-bottom: 2rem;
}

#prev-next-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
}

#prev-next-container > a {
    display: flex;
    height: inherit;
}

#prev-article, #next-article {
    background-color: #EEE;
    height: 100%;
    width: 50%;
}

.nav-article > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.nav-article > a:hover {
    background-color: #DDD;
}

#back-to-top {
    text-decoration: underline;
    color: #006DFF;
    margin-bottom: 3rem;
}
