@media (min-width: 1200px) {
    #title-container {
        height: 8.5rem; 
    }
}

@media (min-width: 1350px) {
    #title-container {
        grid-template-columns: 1fr 1203px 1fr;
    }
    
    #content-container {
        grid-template-columns: 1fr 1000px 1fr;
    }
    
    #title-container {
        height: 9rem;
    }
}