@media (min-width: 1200px) {

    .orange-line {
        border-bottom: 8px solid #FAC173;
    }

    /********** HEADER **********/
    
    @media (max-width: 1396px) {
        #msg-logo {
            max-width: 18rem;
        }
        
        #header-menu {
            white-space: nowrap;
        }
    }

    /********** MAIN **********/    
    #splash-body p {
        line-height: 4.4rem;
    }

    #splash-line {
        border-bottom: 14px solid #FAC173;
    }
    
    #splash-buttons {
        margin-top: 2.0rem;
        height: auto;
    }
    
    #contact-form {
        max-width: 27rem;
        width: 110%;
    }

    #contact-thanks {
        margin-left: 0;
    }
    
    @media (min-width: 1350px) {
        header {
            grid-template-columns: auto 1203px auto;
        }
        
        #splash-line {
            width: 115%;
        }
        
        #splash-body p {
            line-height: 4.7rem;
        }
        
        #splash-container, #about-us-container, #team-container, #contact-container {
            grid-template-columns: auto 1203px auto;
        }
    }
}