@media (min-width: 480px) {

    /********** MAIN **********/
    #splash-line {
        width: 110%;
        border-bottom: 12px solid white;
    }
    
    #splash-body p {
        line-height: 4rem;
    }
    
    .button {
        margin: 0 2rem;
    }
    
    #team-content {
        margin: 5rem 0 10rem 0;
    }
    
    .profile-header {
        text-align: left;
    }
    
    .profile-title {
        text-align: left;
    }
}