@media (min-width: 992px) {
    /********** HEADER **********/

    #msg-logo {
        max-width: 22rem;
    }

    #msg-logo-content {
        white-space: nowrap;
    }
    
    #burger-wrapper, #burger-menu, #burger {
        visibility: hidden;
    }

    #header-menu-content {
        visibility: visible;
        position: static;
    }

    /********** MAIN **********/
    #splash-container {
        min-height: calc(380px + 3rem);
        max-height: -o-calc(60vh - 100px);
        /* opera */
        max-height: -webkit-calc(60vh - 100px);
        /* google, safari */
        max-height: -moz-calc(60vh - 100px);
        /* firefox */
        max-height: calc(60vh - 100px);
        background: linear-gradient(to right, #003375, #003375, #006DFF); 
    }
    
    #splash-inner {
        flex-direction: row;
        justify-content: space-between;
    }
    
    #splash-content {
        width: auto;
        height: auto;
        flex-grow: unset;
    }
    
    #splash-line {
        width: 100%;
        border-bottom: 12px solid #FAC173;
        margin-bottom: 0.75rem;
    }
    
    #splash-body p {
        line-height: 3.8rem;
    }
    
    .button {
        width: 14rem;
        height: 4rem;
    }

    #info-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 45%;
        justify-content: space-between;
        word-wrap: break-word;
    }
    
    #tip-box, #news-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;
    }
    
    
    #tip-box {
        height: 5rem;
        background-color: #003375;
        box-shadow: 0px 14px 20px 10px rgba(0, 0, 0, .2);
    }
    
    #close-tip {
        width: 1rem;
        height: 1rem;
        margin-left: auto;
        margin-right:0.5rem;
    }
    
    #close-tip:hover {
        cursor: pointer;
    }
    
    .close-tip-x {
        width: 1rem;
        height: 3px;
        background-color: white;
    }

    .close-tip-x:first-child {
        transform: translate(-0.01rem, calc(0.55rem - 3px)) rotate(45deg);
    }

    .close-tip-x:last-child {
        transform: translate(-0.01rem, 0.25rem) rotate(135deg);
    }
    
    #news-box {
        height: 60%;
        background-color: rgba(0, 109, 255, 0.3);
        box-shadow: 0px 14px 20px 10px rgba(0, 0, 0, .2);
    }
    
    #tip-box-header, #news-box-header {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2rem;
    }
    
    #tip-box-header p, #news-box-header p {
        margin-left: 1rem;
    }
    
    #tip-box-header i {
        margin-left: 1rem;
        color: #FAC173;
    }
    
    #tip-box-header p{
    }
    
    #news-box-header {
        background-color: #006DFF;
    }
    
    #tip-box-body, news-box-body {
        height: auto;
        margin: 0 1rem;
    }
    
    #news-box-body {
        height: 100%;
        margin: 0.5rem 0;
        margin-right: 0.25rem;
        padding: 0rem 1rem;
        padding-right: 0.5rem;
    }

    #pitch-line {
        width: 75%;
        min-width: 700px;
        max-width: 800px;
    }
    
    #pitch-body {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .feature {
        max-width: 40%;
    }

    #about-us-container {
        padding: 0;
    }

    #about-us-content {
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    
    #about-us-image {
        max-width: 45%;
    }
    
    #team-line {
        width: 75%;
    }
    
    .profile {
        flex-direction: row;
    }
    
    .profile-image {
        max-width: 45%;
        width: 45%;
        height: auto;
        max-height: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .profile-text {
        margin: 0;
        margin-bottom: 5%;
    }
    
    #daryl {
        margin-bottom: 13%;
    }

    #collin {
        flex-direction: row;
    }

    #contact-header-line {
        max-width: 35rem;
    }
    
    #contact-body {
        flex-direction: row; 
    }

    #contact-form {
        max-width: 50%;
    }

    #contact-thanks {
        display: block;
        width: 17em;
        margin: auto 0 7rem 2rem;
    }
    
    #contact-details {
        padding-top: 1.1rem;    
    }

    #contact-thanks-line {
        margin: 1.6rem 0 1.4rem 0;
    }
    
    #contact-thanks-text {
        margin-top: 0;
    }
}