#scroll-arrow {
    position: absolute;
    z-index: 13;
    height: 40px;
    width: 40px;
    top: -o-calc(75vh + 100px); /* opera */
    top: -webkit-calc(75vh + 100px); /* google, safari */
    top: -moz-calc(75vh + 100px); /* firefox */
    left: 50%;
    transform: translate(-50%, 0) rotate(135deg);
    border-top: 4px solid white;
    border-right: 4px solid white;
    animation: up-and-down 1.5s infinite;
}

@media (orientation: portrait) {
    #scroll-arrow {
        height: 30px;
        width: 30px;
        
        border-color: #FAC173;   
    }
}

@keyframes up-and-down {
    0% {  
    }
    
    50% {
        top: -o-calc(75vh + 85px); /* opera */
        top: -webkit-calc(75vh + 85px); /* google, safari */
        top: -moz-calc(75vh + 85px); /* firefox */
    }
    
    100% {
    }
}