#main-content {
  display:flex;
  flex-direction: column;
}

#search-results-container {
  margin-bottom: 5rem;
}

#search-results {
  margin: 0;
}

.result {
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0 2rem 0;
  text-decoration: underline;
}

.result a:hover {
  color: #006DFF;
}